In [16]:
import pandas as pd
import numpy as np

In [45]:
s=pd.Series([2,3,4,5]) #   using series 
print(s)
type(s.index)

0    2
1    3
2    4
3    5
dtype: int64

pandas.core.indexes.range.RangeIndex

In [19]:
data={ 'name':['kashvi','vij','jon'],
       'age' :[34,12,30],
       'city':['newyork','canada','USA']
     }
df=pd.DataFrame(data)
print(df)

     name  age     city
0  kashvi   34  newyork
1     vij   12   canada
2     jon   30      USA

In [22]:
s1=pd.Series(["nuo","nall","pici"])
s1

0     nuo
1    nall
2    pici
dtype: object

In [33]:
marks=[45,67,100,54,59]
suject=['hindi','english','maths','science','IP']  # opretion on series
marks=pd.Series(marks,index=suject,name="jon marks")

In [34]:
marks

hindi       45
english     67
maths      100
science     54
IP          59
Name: jon marks, dtype: int64

In [40]:
# using Dictionary make series
d_marks={
        'maths':43,
        "english":90,
        "science":67,
        "hindi":92
}
marks_series=pd.Series(d_marks,name="ahi marks")
marks_series

maths      43
english    90
science    67
hindi      92
Name: ahi marks, dtype: int64

In [66]:
type(marks_series)

pandas.core.series.Series

In [51]:
# perform attriute on  series

#  size
marks_series.size
marks_series.dtype
marks_series.is_unique
marks_series.index
marks_series.values
type(marks_series.values)

numpy.ndarray

In [59]:
# series data is in datafreme 

succ=pd.read_csv('/home/developer/Downloads/datasets-session-16-20240627T085615Z-001/datasets-session-16/subs.csv')
type(succ)

pandas.core.frame.DataFrame

In [71]:
# if we want to store data in series then use squeeze =True

suc=pd.read_excel('/home/developer/Downloads/datasets-session-16-20240627T085615Z-001/datasets-session-16/subs.xlsx')
defe = suc.squeeze() 
type(defe)

pandas.core.series.Series

In [101]:
ser2=pd.read_csv("/home/developer/Downloads/datasets-session-16-20240627T085615Z-001/datasets-session-16/kohli_ipl.csv",index_col='match_no')
# seriesdata=ser2['runs']
# seriesdata
s = ser2.squeeze()
s

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [122]:
# import data from file

wd=pd.read_csv("/home/developer/Downloads/datasets-session-16-20240627T085615Z-001/datasets-session-16/bollywood.csv",index_col="movie")
wdd=wd.squeeze()
type(wdd)
# type(wd)
# wdd

pandas.core.series.Series

In [98]:
#  series methods 

wdd.head(100)   # head give y default 5 rows

wdd.tail()    # tail give y default 5 rows from ottom

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [109]:
wdd.sample(10)  # give the 10 random rows
wdd.value_counts() # count frequency of value

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [118]:
# gives highest record of virat 

s.sort_values(ascending=False).head(1).values[0]-0

113

In [125]:
# sort movies alpha
wdd.sort_index(ascending=False,inplace=True)

In [126]:
wdd

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [130]:
# count the items in file
s.count()   # this methoad does not count null value
s.size      # it is count nan values also

215

In [134]:
# sum of value using sum method
suc.sum()

# find product
suc.product()

Subscribers gained    0
dtype: int64

In [135]:
# find mean
suc.mean()

Subscribers gained    135.643836
dtype: float64

In [138]:
# find medium 
suc.median()

Subscribers gained    123.0
dtype: float64

In [144]:
#find mode
wdd.mode()
suc.std()
suc.var()

Subscribers gained    3928.158513
dtype: float64

In [145]:
suc.max()

Subscribers gained    396
dtype: int64

In [146]:
suc.min()

Subscribers gained    33
dtype: int64

In [147]:
suc.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

In [148]:
# indexing
s1=pd.Series([3,4,5,6,6,1])
s1[0]

3

In [149]:
wdd[1]

'Darsheel Safary'

In [157]:
# slicing 
s
s[5:15]
s[-5:]
wdd[::2]
# fancy indexing
s[[1,3,6]]

match_no
1     1
3    13
6     9
Name: runs, dtype: int64

In [158]:
marks

hindi       45
english     67
maths      100
science     54
IP          59
Name: jon marks, dtype: int64

In [164]:
marks['EVS']=100

In [165]:
marks

hindi       45
english    100
maths      100
science     54
IP          59
EVS        100
Name: jon marks, dtype: int64

In [166]:
s[2:4]=[100,300]

In [167]:
s

match_no
1        1
2       23
3      100
4      300
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [168]:
s.head(10)

match_no
1       1
2      23
3     100
4     300
5       1
6       9
7      34
8       0
9      21
10      3
Name: runs, dtype: int64

In [172]:
s[[1,3,2]]=[0,0,0]
s

match_no
1        0
2        0
3        0
4      300
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [173]:
len(s)

215

In [175]:
print(dir(s))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_cacher', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_expanddim', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_references', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']